:root {
  --button-color: #eedbd4;
  --button-text-color: #272142;
  --title-color: #1e3226;
}

body {
  background-color: #fef3e9;
}

#abtn {
  border: 1px solid var(--button-color);
  border-radius: 40px;
  color: var(--button-text-color);
  background-color: var(--button-color);
  font-size: 16px !important;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: block;
  margin: 60px auto;
  padding: 16px 32px;
}

#abtn:hover {
  border: 1px solid var(--button-text-color);
  color: var(--button-color);
  background-color: var(--button-text-color);
}

.current-projects,
.coming-soon {
  color: var(--title-color);
  font-size: 32px;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  margin: 60px 60px;
}

.dictionary-text {
  text-decoration: none;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  color: black;
}

.linked-link,
.insta-link,
.git-link {
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  color: darkgray;
  font-size: 14px;
  margin: 12px;
}

.linked-link:hover,
.insta-link:hover,
.git-link:hover {
  color: black;
}

.linked-link:visited,
.insta-link:visited,
.git-link:visited {
  text-decoration: none;
}

.hero {
  background-image: url(images/shelves.jpg);
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 2px;
}

.hello {
  padding: 420px 45px;
  line-height: 1.4;
  color: var(--title-color);
  font-size: 36px;
  font-family: "Nunito", sans-serif;
}

.icons {
  text-align: center;
}

.workation-text,
.weather-text {
  text-decoration: none;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  color: black;
}

.workation-text:hover,
.weather-text:hover,
.dictionary-text:hover {
  color: black;
  text-decoration: underline;
}

#home {
  text-decoration: none;
}

#home:hover,
#abtme:hover,
#contactme:hover,
#projects:hover {
  color: var(--title-color);
  font-weight: bolder;
}

@media (max-width: 820px) {
  .current-projects,
  .coming-soon {
    margin: 4 auto;
    text-align: center;
    font-size: 24px;
  }

  .coming-soon {
    margin: 12px auto;
    display: block;
  }
  .dictionary-text {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  .hello {
    display: none;
  }

  .hero {
    height: 500px;
  }

  .icons {
    margin: 10px auto;
  }

  .workation-text,
  .weather-text {
    font-size: 20px;
    text-align: center;
    display: block;
  }
  #home:hover,
  #abtme:hover,
  #contactme:hover,
  #projects:hover {
    color: var(--title-color);
    font-weight: bolder;
  }

  #wwprojects {
    display: block;
    margin-bottom: 10px;
  }
}
