.btn {
  border: 1px solid #eedbd4;
  border-radius: 40px;
  color: #272142;
  background-color: #eedbd4;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: block;
  margin: 60px auto;
  padding: 16px 32px;
}
.current-projects {
  color: #1e3226;
  font-size: 32px;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  margin: 80px 60px;
}

.hero {
  background-image: url(images/shelves.jpg);
  background-color: #cccccc;
  height: 640px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 4px;
}

.hero p {
  padding: 420px 60px;
}

.workation-text,
.weather-text {
  text-decoration: none;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  color: black;
}

.workation-text:hover,
.weather-text:hover {
  color: black;
  text-decoration: underline;
}
